<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">

  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <script
    src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>

  <title>Play</title>
</head>

<body>

  <video-js id='vid1' width=600 height=300 class="vjs-default-skin" controls> 
     <source src="https://{{url}}" type="application/x-mpegURL">
  </video-js>

  <script>
    const player = videojs('vid1');
    player.play();
  </script>

</body>

</html>